{% extends 'sg2042.jinja2' %}

{% set device_type = 'sg2042' %}

{% set connection_list = ['uart0'] %}
{% set connection_commands = {'uart0': 'telnet 127.0.0.1 7001'} %}
{% set connection_tags = {'uart0': ['primary', 'telnet']} %}

{% set power_off_command = '/home/zhtianyu/sg2042/power_off' %}
{% set power_on_command = '/home/zhtianyu/sg2042/power_on' %}
{% set hard_reset_command = '/home/zhtianyu/sg2042/hard_reset' %}
{% set soft_reset_command = '/home/zhtianyu/sg2042/hard_reset' %}